.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    transition: all ease-in-out 0.5s;
    z-index: 9999;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
  }

.profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
  }  

.profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }

 .nav-menu {
  padding-top: 30px;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
fa-icon{
   padding-right: 8px; 
   color: #6f7180;
}
/*
  fa-icon {
  font-size: 20px !important;
  padding-right: 8px;
  color: #6f7180;
}
 */
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover fa-icon ,.nav-menu .active > a fa-icon , .nav-menu li:hover > a fa-icon  {
  color: #149ddd;
} 
ul {
    list-style-type: none;
}
 .mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle fa-icon {
  color: #149ddd;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle fa-icon {
  color: #fff;
}

