<div></div>
<div id="about-row">
   <div class="about">
    <h2>About</h2>
    <p>
      Performance-driven and motivated Full Stack Developer with 2+ years of experience.
      Adept at time management skills and ability to complete projects with in scheduled time.
      Always Determined to achieve extraordinary results.
    </p>
    <div style="padding:30px">

    </div>
    <h2>Skills</h2>
    <ul>
      <li class="skill">C#</li>
      <li  class="skill"> Asp.net MVC</li>
      <li  class="skill">Web Api</li>
      <li  class="skill">Angular 7+</li>
      <li class="skill">Sql Server</li>
      <li class="skill">Entity Framework</li>
    </ul>
   </div>
  </div> 

