<div id="home-row">
  <!-- <div class="text-center"> -->
    <!-- <h3>Hi This</h3> -->
    <!-- <img src="assets/images/sagar-1.png" width="200" class="img- center profile-pic"> -->
   <!--  <h1>Sagar N H</h1>
    <h3>Product Builder</h3>
    <h5>Web Developer</h5> -->
  <!-- </div> -->
  <!-- <div class="box">
  <img src="assets/images/sagar-2.png">
  </div> -->
<div class="row">
  <div class="col-md-6 col-lg-6 text-center">
    <div id="pad">
    <h5 class="text-light">Hi This is</h5>
    <!-- <img src="assets/images/sagar-1.png" width="200" class="img- center profile-pic"> -->
    <h1 class="text-light">Sagar N H</h1>
    <h3 class="text-light">Developer</h3>
  </div>
  </div>
  <div class="col-md-6 col-lg-6 text-center">
    <img src="assets/images/sagar-2.png">
  </div>

</div>
</div>
